h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

.hidden {
  display: none !important;
}

.github-corner:focus svg {
  outline: -webkit-focus-ring-color auto 1px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

[data-item="card"]:hover:after {
  opacity: 1;
}

[data-item="detail-view-details"] .statistics-01 svg {
  vertical-align: bottom;
  width: 2rem;
  height: 2rem;
}

[data-item="detail-view-details"] .statistics-02 div {
  margin-right: 1.25rem;
  font-size: 1.15rem;
}

[data-item="detail-view-details"] .statistics-02 svg {
  vertical-align: baseline;
}

.overview-detail p {
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
}

@keyframes octocat-wave {
  0 %,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media screen and (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media screen and (max-width: 400px) {
  [data-item="custom-item"] {
    width: 0.9rem;
    height: 0.9rem;
  }
}
