logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
**/dist
public
.cache
.vscode
node_modules
**/node_modules
.idea
.env
.env.*
!.env.example
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.parcel-cache
